body {
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
}

.container {
  position: relative;
  height: 100vh;
}

.qrcode {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 250px;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.qrcode img {
  max-width: 90%;
  max-height: 90%;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 25px;
  top: 10px;
  position: absolute;

}

.text1 {
  position: absolute;
  display: block;
  margin-top: 140px;
  justify-content: center;
  text-align: center;
}

.text1 p {
  font-size: 17px;
  margin-left: 30px;
  margin-right: 30px;
  color: hsl(218, 44%, 22%);
  font-weight: bold;


}

.text2 {
  position: absolute;
  display: block;
  margin-top: 270px;
  justify-content: center;
  text-align: center;

}

.text2 p {
  font-size: 12px;
  margin-left: 30px;
  margin-right: 30px;
  color: hsl(220, 15%, 55%);


}

p {
  font-size: 15px;
}


.attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
